.ProfileCard {
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 1rem;
	overflow: clip;
	background: var(--cardColor);
}

.ProfileImage {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ProfileImage > img:nth-of-type(1) {
	width: 100%;
}

.ProfileImage > img:nth-of-type(2) {
	width: 6rem;
	border-radius: 50%;
	position: absolute;
	bottom: -3rem;
	box-shadow: var(--profileShadow);
}

.ProfileName {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
	gap: 2px;
	font-size: 14px;
}

.ProfileName > span:nth-of-type(1) {
	font-weight: bold;
}

.followStatus {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
	font-size: 14px;
}

.followStatus > hr {
	width: 85%;
	border: 1px solid var(--hrColor);
}

.followStatus > div {
	display: flex;
	gap: 1rem;
	width: 80%;
	justify-content: space-around;
	align-items: center;
}

.follow {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	justify-content: center;
	align-items: center;
}

.follow > span:nth-of-type(1) {
	font-weight: bold;
}

.follow > span:nth-of-type(2) {
	color: var(--gray);
	font-size: 13px;
}

.vl {
	height: 30px;
	border-left: 2px solid var(--hrColor);
}

.ProfileCard > span {
	font-weight: bold;
	color: var(--green);
	align-self: center;
	margin-bottom: 1rem;
	cursor: pointer;
}

.fc-button{
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}