.Auth {
	background-color: var(--cardColor);
	padding: 1rem;
	border-radius: 1rem;
}
.signup{
    font-size: 14px;
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}

.loadingSpinner{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(243, 219, 219, 0.162);
}